<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="shop.mapper.CellponesMapper">
  			<select id="findAll" resultType="Cellpones">
  			
  			 	select * from cellpones
  			</select>
  			<select id="findOne" resultType="Cellpones">
  				 select * from cellpones where id=#{id}
  			</select>
  			<update id="update">
  				update cellpones set 
					brand=#{brand},MODEL=#{model},OS=#{os},CPUBRAND=#{cpubrand},RAM=#{ram},
					COLOR=#{color},DESCRIPTION=#{description},PRICE=#{price},IMAGES=#{images}
				where id=#{id}
  			</update>
  			
  			<insert id="insertinto">
  					insert into cellpones values(cellpones_seq.nextval,
 					#{brand},#{model},#{os},#{cpubrand},#{ram},#{color},
 					#{description},#{price},#{images})
  			</insert>
  			<delete id="detele">
  				delete from  cellpones  where id=#{id}
  			</delete>
  </mapper>